extends layout
block content
  ul
    li
     a(href="index") Nuova Unità
    li
     a(href="/") Elenco Unità
  each arr in unita
    img(src = `/images/${arr.Unit}.png`) 
    h1 #{arr.Unit}
    p #{arr.Cost} costo
    p #{arr.Hit_Speed} velocità colpo 
    p #{arr.Speed} velocità
    p #{arr.Deploy_Time} tempo di rilascio
    p #{arr.Range}  raggio
    p #{arr.Target} bersaglio
    p #{arr.Count} contatore
    p #{arr.Transport} trasporto
    p #{arr.Type} tipo
    p #{arr.Rarity} rarita